*.xcuserstate
Homesecurity 3.xcodeproj/project.xcworkspace/xcuserdata/lester.xcuserdatad/UserInterfaceState.xcuserstate
build/
Homesecurity 3.xcodeproj/xcuserdata/lester.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
